.header_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
}

.logo > img {
  width: 80px;
  cursor: pointer;
}

.first_half {
  display: flex;
  /* background-color: gray; */
  margin-right: 42rem;
}
.side_collapse {
  margin: 37px;
}

.icon_shape {
  margin-left: 8px;
  margin-top: 1px;
  font-size: 20px;
  cursor: pointer;
  color: #000000;
}

.second_half {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.second_half > .icon_shape,
.second_half > Link {
  /* margin-top: 30px;
  margin-right: 20px; */
  margin-right: 30px;
}

.link_tag {
  margin-right: 30px;
}
