.container {
  display: flex;
  flex-wrap: wrap;
}

.card_image {
  width: 200px;
  margin-left: 8px;
  margin-top: 8px;
  margin-right: 8px;
}

.card_name {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  padding-left: 8px;
  font-weight: 500;
}

.card_cuisines {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #686b78;
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 200;
}

.set_in_one_line {
  display: flex;
  justify-content: space-around;
  color: #686b78;
  font-size: 13px;
}

.st {
  width: 30px;
  padding: 5px;
  color: #fff;
}

.icon_star {
  font-size: 10px;
  padding-right: 1px;
}
